@import '../../styles/globalStyles.module.scss';

.CTA {
    height: 400px;
    background-image: url('../../assets/kids-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(58, 152, 185, 0.65);
        backdrop-filter: blur(2px);
        z-index: 1;
    }

    &Block {
        max-width: 50%;
        margin: 0 auto;
        z-index: 2;
        position: relative;

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: $white-color;
            position: relative;
        }
        button{
            background-color: $white-color;
            border-color: $white-color;
            margin-top: 2rem;
            &:hover{
                background-color: $white-color;
                color: $primary-color;
            }
        }
    }
}